<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="flex-container">
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry.png" alt="Tart Cherry" width="image-head-width" height="150"></div>
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry_lite.png" alt="Tart Cherry" width="image-head-width" height="150"></div>
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry.png" alt="Tart Cherry" width="image-head-width" height="150"></div>
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry_lite.png" alt="Tart Cherry" width="image-head-width" height="150"></div>
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry.png" alt="Tart Cherry" width="image-head-width" height="150"></div>
    </div>
        
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

   {%- include footer.html -%} 

  </body>

</html>
