<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="flex-container">
      <div><img src="{{ site.baseurl }}/assets/image/mccord_day.jpg" alt="McCord" width="image-head-width" height="333">
</div>
      <div><img src="{{ site.baseurl }}/assets/image/tart_cherry.jpg" alt="tart_cherry" width="image-head-width" height="333">
</div>
    </div>
        
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

   {%- include footer.html -%} 

  </body>

</html>
