---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading"><b>{{ page.title }}</b></h1>
  {%- endif -%}

  {{ content }}
  
  <h2 class="post-content" style="text-align:center">BASIC ANALYTICAL MODELLING EXAMPLES</h2>

  <div class="flex-container-body">
    {% for item in site.data.nav.docs %}
        <div><img src="{{ site.baseurl }}/assets/image/{{ item.image }}" alt="{{ item.title }}" width="image-head-width" height="image-head-height">
        <hr style="height:1px">
        <br>
        <a class="button button2" href="{{ site.baseurl }}/{{ item.url }}" target="_self" rel="noopener">{{ item.title }}</a>  
      </div>
    {% endfor %}
  </div>


  <h2 class="post-content" style="text-align:center">ADVANCED ANALYTICAL MODELLING EXAMPLES</h2>

  <div class="flex-container-body">
        <div><img src="{{ site.baseurl }}/assets/image/bistro_new_s.jpg" alt="Cafe Bistro" width="image-head-width" height="image-head-height">
        <hr style="height:1px">
        <br>
        <a class="button button1" href="{{ site.baseurl }}/{{ item.url }}" target="_self" rel="noopener">{{ item.title }}</a>  
      </div>
  </div>


</div>
