---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <!-- An article citation in MLA format, using a 'flat' approach that simplifies
  markup by not specifying an explicit relationship between the periodical,
  volume, and issue -->
  <div>
    Carlyle, Allyson. "Understanding FRBR as a Conceptual Model: FRBR
    and the Bibliographic Universe."
    <em>Library Resources and Technical Services</em>,
    v. 50, no. 4 (October 2006): 264-273. Print.
  </div>
  
  {%- if site.data.papers.size > 0 -%}
      {%- for paper in site.data.papers -%}
          <div>
              {{ paper.name }} Carlyle, Allyson. "Understanding FRBR as a Conceptual Model: FRBR
              and the Bibliographic Universe."
              <em>Library Resources and Technical Services</em>,
              v. 50, no. 4 (October 2006): 264-273. Print.
              <a class="paper-link" href="https://github.com/{{ paper.github }}">
              {{ paper.name | escape }}
              </a>
              {%- if site.show_excerpts -%}
                  {{ paper.excerpt }}
              {%- endif -%}
          </div>
      {%- endfor -%}
  {%- endif -%}


</div>
