---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h2 class="post-content" style="text-align:center">{{ page.title }}</h2>
  {%- endif -%}

  {{ content }}
  
  {%- if site.data.introduction.size > 0 -%}

      <div class="flex-container">

        {%- for exrs in site.data.introduction -%}
     
            <div>
              <br>
              <p><b>{{ exrs.typeTopic }}</b></p>
              <p>{{ exrs.seq }}.[{{ exrs.name }}]</p> 
              <hr style="height:1px">
              <br>
              <a class="button button1" href="{{ site.baseurl }}/assets/problemsets/{{ exrs.fileName }}[{{ exrs.name }}].docx" target="_blank" rel="noopener">Problem</a>  
              <a class="button button1" href="{{ site.baseurl }}/assets/problemsets/{{ exrs.fileName }}[{{ exrs.name }}]_s.docx" target="_blank" rel="noopener">Model</a>  
              <a class="button button1" href="{{ site.baseurl }}/assets/problemsets/{{ exrs.fileName }}[{{ exrs.name }}]_s.xlsx" target="_blank" rel="noopener">Excel</a>  
              <p> </p>
            </div>
        {%- endfor -%}
        
      </div>
  
  {%- endif -%}


</div>
